/emacs/.emacs.d/anaconda-mode/**
/emacs/.emacs.d/auto-save/**
/emacs/.emacs.d/auto-save-list/**
/emacs/.emacs.d/elpa/**
/emacs/.emacs.d/backups/**
/emacs/.emacs.d/recentf
/emacs/.emacs.d/irony/
/emacs/.emacs.d/yasnippet-snippets/
/nvim/.config/nvim/.netrwhist
/ncmpcpp/.ncmpcpp/error.log
