Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

rofi.color-enabled: true
rofi.color-window: #282c34, #282c34, #282c34
rofi.color-normal: #282c34, #abb2bf, #282c34, #31353f, #ffffff
rofi.color-active: #282c34, #61afef, #282c34, #61afef, #ffffff
rofi.color-urgent: #282c34, #e06c75, #282c34, #e06c75, #ffffff
rofi.font: Source Sans Pro 16
rofi.bw: 48

URxvt.font: xft:Roboto\ Mono\ for\ Powerline:size=12:antialias=true:hinting=true,FontAwesome:size=12
URxvt.scrollBar: false
URxvt*.transparent: false
URxvt.internalBorder:  32

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*iso14755: False

xterm*utf8: 1

! special
*.foreground:   #abb2bf
*.background:   #282c34
*.cursorColor:  #abb2bf


*.background1:  #353b45
*.background2:  #3e4451

! black
*.color0:       #282c34
*.color8:       #5c6370

! red
*.color1:       #e06c75
*.color9:       #be5046

! green
*.color2:       #98c379
*.color10:      #7a9f60

! yellow
*.color3:       #e5c07b
*.color11:      #d19a66

! blue
*.color4:       #61afef
*.color12:      #3b84c0

! magenta
*.color5:       #c678dd
*.color13:      #9a52af

! cyan
*.color6:       #56b6c2
*.color14:      #3c909b

! white
*.color7:       #abb2bf
*.color15:      #828997
