* {
  font-family: 'JetBrains Mono Nerd Font Propo';
  font-size: 13px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  color: #CECDC3;
  margin: 2px 2px;
  background-color: #100F0F;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #101010;
  margin-left: 1rem;
}

#workspaces button {
  color: #878580;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #8B7EC8;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #8B7EC8;
  border-radius: 5px;
  background-color: #100F0F;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#idle_inhibitor {
  padding: 0.5rem 1rem;
  margin: 3px 0px;
}

#idle_inhibitor {
  border-radius: 5px 0px 0px 5px;
}

#custom-lock {
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: #CECDC3;
  border-radius: 5px;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#pulseaudio {
  color: #ea999c;
}

#custom-lock {
  color: #babbf1;
}

#custom-power {
  margin-right: 1rem;
  color: #e78284;
}

#tray {
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */
  border-radius: 5px;
}
