Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: grayscale
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

st.termname:         st-256color
st.font:             IBM Plex Mono:size=10
st.cwscale:          1.0
st.borderpx:         12
st.mouseScrollLines: 5
st.bold_font:        1
st.actionfps:        60
st.xfps:             120

URxvt*font:           xft:Hack:pixelsize=12,xft:Symbola
URxvt*scrollBar:      false
URxvt*transparent:    false
URxvt*internalBorder: 12

URxvt*keysym.Shift-Control-V: eval:paste_clipboard
URxvt*keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*iso14755: False

URxvt*perl-ext-common: default,resize-font

URxvt*letterSpace: -1

XTerm*borderWidth: 0

XTerm.vt100.scrollBar: false
XTerm.vt100.internalBorder: 0
XTerm.vt100.borderWidth: 0
XTerm.vt100.locale: true
XTerm.vt100.renderFont: true
XTerm.vt100.faceName: IBM Plex Mono Text:pixelsize=13:antialias=true
XTerm.vt100.translations: #override \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! *background-hard: #1d2021
*background: #282828
! *background-soft: #32302f

*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
