/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/


headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
  /* background-color: #1a1a1a; */
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  /* background-color: #1a1a1a; */
  /* font-family: monospace; */
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  /* border-right: 0px solid #374151; */
}

tabbar tabbox tab:selected {
  /* background-color: #2d2d2d; */
  /* color: #ffffff; */
}

tabbar tabbox tab label {
  font-size: 12px;
}
